@{
    ViewData["Title"] = "Power Meter";
}
<h3 class="display-4">@ViewData["Title"]</h3>

<!DOCTYPE html>
<html>
<body>

    <style>

        body {
            background-color: ghostwhite;
        }
    </style>

    <h4>Detail data - Power Meter</h4>

    <label for="PowerMeter">Select Power Meter:</label>

    <select id="PowerMeters" class="form-control sprites-arrow-down" onchange="GetSelectedValue()">
        <option value="none" selected disabled hidden>
            Select an Option
        </option>
        <option value="PowerMeter1">Power Meter1</option>
        <option value="PowerMeter2">Power Meter2</option>
        <option value="PowerMeter3">Power Meter3</option>
        <option value="PowerMeter4">Power Meter4</option>
    </select>

    <script>

              @model WebGGSignal.Models.ReadingResultModel

                var Power1_status = @Model.TotalKWhCH1

                    var VA1_status = @Model.Va1
                    var VB1_status = @Model.Vb1
                    var VC1_status = @Model.Vc1
                    var IA1_status = @Model.Ia1
                    var IB1_status = @Model.Ib1
                    var IC1_status = @Model.Ic1

                    var VA2_status = @Model.Va2
                    var VB2_status = @Model.Vb2
                    var VC2_status = @Model.Vc2
                    var IA2_status = @Model.Ia2
                    var IB2_status = @Model.Ib2
                    var IC2_status = @Model.Ic2

                    var Va1T_status = "@Model.Va1TString"

                        function GetSelectedValue() {

                           // d = new Date();
                           // var g = document.getElementById("DynamicTable").rows[8].cells;
                           // g[1].innerHTML = d;

                        var a = document.getElementById("StaticTable").rows[1].cells;
                        var b = document.getElementById("StaticTable").rows[2].cells;
                        var str1 = "6546g456456b --- ";
                        var str2 = "L1-DB 2 --- ";

                        a[1].innerHTML = str1.concat(result);
                        b[1].innerHTML = str2.concat(result);

                        var e = document.getElementById("PowerMeters");
                        var result = e.options[e.selectedIndex].value;

                            if (result == "PowerMeter1") {

                            document.getElementById('DynamicTable').style.display = '';
                            var x = document.getElementById("DynamicTable").rows[1].cells;
                            x[1].innerHTML = Power1_status + " (" + result + ")";
                            //x[1].innerHTML = result;

                            var y = document.getElementById("DynamicTable").rows[2].cells;
                            y[1].innerHTML = VA1_status + " (" + result + ")";

                            var z = document.getElementById("DynamicTable").rows[3].cells;
                            z[1].innerHTML = VB1_status + " (" + result + ")";

                            var c = document.getElementById("DynamicTable").rows[4].cells;
                            c[1].innerHTML = VC1_status + " (" + result + ")";

                            var d = document.getElementById("DynamicTable").rows[5].cells;
                            d[1].innerHTML = IA1_status + " (" + result + ")";

                            var e = document.getElementById("DynamicTable").rows[6].cells;
                            e[1].innerHTML = IB1_status + " (" + result + ")";

                            var f = document.getElementById("DynamicTable").rows[7].cells;
                            f[1].innerHTML = IC1_status + " (" + result + ")";

                            var g = document.getElementById("DynamicTable").rows[8].cells;
                            g[1].innerHTML = Va1T_status + " (" + result + ")";


                            }
                            else if (result == "PowerMeter2") {

                            document.getElementById('DynamicTable').style.display = '';
                            var x = document.getElementById("DynamicTable").rows[1].cells;
                                x[1].innerHTML = Power1_status + " (" + result + ")";

                            var y = document.getElementById("DynamicTable").rows[2].cells;
                            y[1].innerHTML = VA2_status + " (" + result + ")";

                            var z = document.getElementById("DynamicTable").rows[3].cells;
                            z[1].innerHTML = VB2_status + " (" + result + ")";

                            var c = document.getElementById("DynamicTable").rows[4].cells;
                            c[1].innerHTML = VC2_status + " (" + result + ")";

                            var d = document.getElementById("DynamicTable").rows[5].cells;
                            d[1].innerHTML = IA2_status + " (" + result + ")";

                            var e = document.getElementById("DynamicTable").rows[6].cells;
                            e[1].innerHTML = IB2_status + " (" + result + ")";

                            var f = document.getElementById("DynamicTable").rows[7].cells;
                                f[1].innerHTML = IC2_status + " (" + result + ")";

                                var g = document.getElementById("DynamicTable").rows[8].cells;
                                g[1].innerHTML = Va1T_status + " (" + result + ")";

                            }
                            else if (result == "PowerMeter3") {

                            document.getElementById('DynamicTable').style.display = '';
                            var x = document.getElementById("DynamicTable").rows[1].cells;
                                x[1].innerHTML = Power1_status + " (" + result + ")";

                            var y = document.getElementById("DynamicTable").rows[2].cells;
                            y[1].innerHTML = VA1_status + " (" + result + ")";

                            var z = document.getElementById("DynamicTable").rows[3].cells;
                            z[1].innerHTML = VB1_status + " (" + result + ")";

                            var c = document.getElementById("DynamicTable").rows[4].cells;
                            c[1].innerHTML = VC1_status + " (" + result + ")";

                            var d = document.getElementById("DynamicTable").rows[5].cells;
                                d[1].innerHTML = IA1_status + " (" + result + ")";

                            var e = document.getElementById("DynamicTable").rows[6].cells;
                            e[1].innerHTML = IB1_status + " (" + result + ")";

                            var f = document.getElementById("DynamicTable").rows[7].cells;
                                f[1].innerHTML = IC1_status + " (" + result + ")";

                                var g = document.getElementById("DynamicTable").rows[8].cells;
                                g[1].innerHTML = Va1T_status + " (" + result + ")";

                            }
                            else if (result == "PowerMeter4") {

                            document.getElementById('DynamicTable').style.display = '';
                            var x = document.getElementById("DynamicTable").rows[1].cells;
                                x[1].innerHTML = Power1_status + " (" + result + ")";

                            var y = document.getElementById("DynamicTable").rows[2].cells;
                            y[1].innerHTML = VA1_status + " (" + result + ")";

                            var z = document.getElementById("DynamicTable").rows[3].cells;
                            z[1].innerHTML = VB1_status + " (" + result + ")";

                            var c = document.getElementById("DynamicTable").rows[4].cells;
                            c[1].innerHTML = VC1_status + " (" + result + ")";

                            var d = document.getElementById("DynamicTable").rows[5].cells;
                                d[1].innerHTML = IA1_status + " (" + result + ")";

                            var e = document.getElementById("DynamicTable").rows[6].cells;
                            e[1].innerHTML = IB1_status + " (" + result + ")";

                            var f = document.getElementById("DynamicTable").rows[7].cells;
                            f[1].innerHTML = IC1_status + " (" + result + ")";

                                var g = document.getElementById("DynamicTable").rows[8].cells;
                                g[1].innerHTML = Va1T_status + " (" + result + ")";
                        }

            }


    </script>

    <br />
    <br />

    <table id="DynamicTable">

        <tr>
            <th>Dynamic Data</th>
        </tr>

        <tr>
            <td>Total Power (kWh) :</td>
            <td>c</td>
        </tr>
        <tr>
            <td>Line Voltage A:</td>
            <td> </td>
        </tr>
        <tr>
            <td>Line Voltage B:</td>
            <td> </td>
        </tr>
        <tr>
            <td>Line Voltage C:</td>
            <td> </td>
        </tr>
        <tr>
            <td>Line Current A:</td>
            <td>  </td>
        </tr>
        <tr>
            <td>Line Current B:</td>
            <td> </td>
        </tr>
        <tr>
            <td>Line Current C:</td>
            <td> </td>
        </tr>

        <tr>
            <td>Date & Time :</td>
            <td>
            <script>@Model.Va1TString</script></td>

        </tr>

    </table>

    <table id="StaticTable">

        <tr>
            <th>Static Data</th>
        </tr>

        <tr>
            <td>Device serial no.:</td>
            <td>From MSSQL</td>
        </tr>
        <tr>
            <td>Location :</td>
            <td>From MSSQL</td>
        </tr>

    </table>

</body>
</html>
